body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Edu VIC WA NT Beginner", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(18, 84, 170);
    padding: 20px;
    font-size: 32px;
    color: rgb(4, 73, 163);
}

.chamada {
    background: rgb(145, 87, 206);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-video {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-video img {
    opacity: 0.5;   
    height: 200px
}

.categoria-video img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.categoria h2 {
    color: rgb(42, 122, 228);
}


